@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

main {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

header {
    text-align: center;
}

.header-logo {
    padding-bottom: 20px;
}

.header-logo img {
    height: 100%;
}

.header-info {
    color: darkgreen;
}

.header-info span {
    font-weight: 700;
}

.header-info {
    background-color: lightyellow;
    border-top: 1px solid yellow;
    padding: 1.1em;
}

h1 {
    color: rgb(98, 3, 3);
    font-weight: 700;
    text-align: center;
    margin-top: 40px;
}

.focaccia {
    text-align: center;
    width: 100%;
}

.focaccia img {
    width: 100%;
    border-radius: 15px;
    box-shadow: 2px 2px 5px grey;
}

h3 {
    font-weight: 700;
}

hr {
    border-color: rgb(163, 232, 255);
    
}

figcaption {
    text-align: center;
    color: grey;
    margin: 10px;
}

.under-figcaption {
    border-left: 1px solid lightsalmon;
    padding-left: 10px;
    margin-bottom: 50px;
    margin-top: 35;
}

.under-figcaption span {
    font-weight: 700;
    color: orange;
}

a {
    color: rgb(0, 131, 174);
}

a:visited {
    color: rgb(0, 131, 174);
}

h2 {
    font-weight: 700;
}


ul {
    line-height: 2.5em;
}
